<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RecipeScrapper">
  <test thread-count="5" name="RecipeScrapper">
    <classes>
      <class name="com.scrapper.qa.test.KidsRecipes"/>
      <class name="ReceipeExtract.Scrapper"/>
      <class name="com.scrapper.qa.test.QuickRecipes"/>
      <class name="com.scrapper.qa.test.HealthyReceipes"/>
    </classes>
  </test> <!-- RecipeScrapper -->
</suite> <!-- RecipeScrapper -->
